
.portal{
    position: absolute;
    width: 400px;
    height: 300px;
    z-index: 15;
    top: 58%;
    left: 50%;
    margin: -100px 0 0 -190px;
}
.portal2{
  position: absolute;
  width: 250px;
  height: 150px;
  z-index: 15;
  top: 25%;
  left:57%;
  margin: -100px 0 0 -190px;
}

h3{
    color: gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    color: black;
}
form{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
em{
    color: red;
    float: right;;
    padding-left: 10pxs;
    }
